/* Home section  which has the app name and nav bar. The styling is applied by id */
body{
    background-color: rgba(238, 238, 244, 0.947);
    color: rgb(16, 15, 15); 
    font-family: arial;
}
#logo{
    float: left;
    margin-right: -0.5cm;
    
}
#home {
    background-color: #1d0065;
    padding-bottom: -1cm;
    margin-left: 5cm;
    margin-right: -0.5cm;
    margin-top: -1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    position: static;
}

.welcoming h1{
    font-size: large;
}

/* Navigation Bar Container*/
.topdiv{
    float:right;
    padding-right: 1cm;

}

/* Navigation Bar Buttons */
.topmenu{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

.donatemenu{
    color: lightgray;
    background-color: orange;
    color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

.topmenu:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

.donatemenu:hover{
    
    font-weight: bolder;
    background-color: white;
    cursor: pointer;
}
#introduction {
    
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust the height as needed */
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.bg-image{
    /* The image used */
    background-image: url("bar_graph.png");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  /* Position text in the middle of the page/image */
.bg-text{
    
    padding-bottom: 1cm;
    margin-left: -1cm;
    margin-right: -1cm;
    margin-top: -1cm;
    padding-top: 2cm;
    padding-bottom: 2cm;
}

.tableauPlaceholder{
    height: 200px;
    width: 15cm;
}

.introduction {
    background-image: url("../bar_graph.jpg"); /* Adjust path as needed */
    background-color: rgba(240, 248, 255, 0.941);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(10px); 
  
    /* Add dimensions if necessary */
    width: 100%;
    height: 400px; /* Adjust height as needed */
    background-position: center;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 221, 221, 0.247); /* Adjust opacity as needed */
    filter: blur(10px);
  }

  .bg-text {
    color: rgb(6, 6, 6);
    text-align: center;
    z-index: 1; /* Ensure text is above the blur overlay */
    filter:blur(0);
  }



  .general-info p{
    font-family: arial;
  }


  #insights1{
    position: fixed;
    left: 0;
  }

footer{
    background-color: blue;
    color: white;
    font-family: verdana;
    text-align: center;
    height: 170px;
    padding-top: 5%;
}

#exportButton{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

#exportButton:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

#exportButton2{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

#exportButton2:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

#exportButton3{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

#exportButton3:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

#exportButton4{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

#exportButton4:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

#exportButton5{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

#exportButton5:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

#exportButton6{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

#exportButton6:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

#exportButton7{
    color: lightgray;
    background-color: #1d0065;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 1mm;
    font-weight: bolder;
}

#exportButton7:hover{
    color: white;
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

.filter1{
    color: rgb(242, 241, 241);
    background-color: #005965;
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 0.1mm;
    font-weight: bolder;
}

.filter1:hover{
    color: rgb(8, 7, 7);
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}

.filter2{
    color: rgb(242, 241, 241);
    background-color:#176e9a;
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 0.1mm;
    font-weight: bolder;
}

.filter2:hover{
    
    font-weight: bolder;
    cursor: pointer;
}
.filter3{
    color: rgb(242, 241, 241);
    background-color: rgb(196, 67, 67);
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 0.1mm;
    font-weight: bolder;
}

.filter3:hover{
   
    font-weight: bolder;
    
    cursor: pointer;
}
.filter4{
    color: rgb(242, 241, 241);
    background-color: #c7a41a;
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 0.1mm;
    font-weight: bolder;
}

.filter4:hover{
    
    font-weight: bolder;
    
    cursor: pointer;
}
.filter5{
    color: rgb(242, 241, 241);
    background-color: #0695128f;
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 0.1mm;
    font-weight: bolder;
}

.filter5:hover{
   
    font-weight: bolder;
    
    cursor: pointer;
}
.filter6{
    color: rgb(242, 241, 241);
    background-color: rgb(233, 155, 10);
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 0.1mm;
    font-weight: bolder;
}

.filter1:hover{
    color: rgb(8, 7, 7);
    font-weight: bolder;
    background-color: #149db0;
    cursor: pointer;
}
.filter7{
    color: rgb(242, 241, 241);
    background-color: #654a65;
    margin: 5px;
    padding: 10px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 0.1mm;
    font-weight: bolder;
}

.filter7:hover{
    color: white;
    font-weight: bolder;
    cursor: pointer;
}


/* Keyframes for slide-in animation */
@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Applying slide-in animation to the text */
.slide-in-text {
    animation: slide-in 5s ease-out;
}
